<ion-content [fullscreen]="true">
    <!-- <ion-button (click)="loginUser()">
        login
      </ion-button>
    
    <a [routerLink]="['/dashboard']">Go to dashboard</a> -->

    <!-- <ion-header collapse="condense">
        <ion-toolbar>
        <ion-title size="large">Google SignIn</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <div id="container">
        <!-- <p>{{ userData | json }}</p> -->
        <ion-button (click)="loginUser()">Sign in with Google</ion-button>
    </div>
</ion-content>